* {
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  overflow: hidden;
  max-width: 375px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 8px 4px 35px 1px rgba(96, 85, 141, 0.25);
}

.container {
  max-width: 300px;
  margin: auto;
}

.header {
  color: rgb(243, 196, 239);
  padding: 40px 42px 145px;
  background: url("../img/SWD_Blog_Banner_-_Repository_Pattern_Implementation.png")
      no-repeat center / cover,
    #efefef;
  border-radius: 0 0 85px 85px;
}

.hello {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.hello-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.user {
  margin-top: -70px;
  padding-bottom: 20px;
  text-align: center;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 8px 4px 35px 1px rgba(96, 85, 141, 0.25);
}

.user-avatar {
  margin-top: -43px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fffefe;
}

.user-name {
  margin-top: 8px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.user-description {
  margin-top: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #6a6a6a;
}
